<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>大圆绘图器</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.4.0/dist/bootstrap-vue.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.min.css">
  <link rel="stylesheet" href="/static/site.css">
</head>

<body>
  <div id="vueapp">
    <b-navbar type="dark" variant="danger">
      <b-navbar-brand href="#">大圆绘图器</b-navbar-brand>
      <b-collapse id="nav-text-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#" v-on:click="question_modal.show=true">搜索</b-nav-item>
          <b-nav-item href="#" v-on:click="aboutShow=true">关于</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <br>
    <b-container fluid>
      <b-modal id="airport" size="lg" v-model="airport_modal.show" v-if="airport_modal.airport">
        <template v-slot:modal-title>
          <h3>
            {{airport_modal.airport}}
          </h3>
        </template>
        <b-list-group flush>
          <b-list-group-item>{{airport_modal.airport.名称}}（{{airport_modal.airport.IATA}},
            {{airport_modal.airport.ICAO}}）</b-list-group-item>
          <b-list-group-item>国家/地区和城市：{{airport_modal.airport.国家}} {{airport_modal.airport.城市}}</b-list-group-item>
          <b-list-group-item>经纬度：{{airport_modal.airport.位置}} </b-list-group-item>
          <b-list-group-item>时区：{{airport_modal.airport.时区}} (UTC{{airport_modal.airport.时差}})</b-list-group-item>
        </b-list-group>
      </b-modal>

      <b-modal id="popup" size="xl" v-model="question_modal.show" @ok="send_request">
        <template v-slot:modal-title>
          <h1>大圆绘图器</h1>
        </template>
        <p>您可以：</p>
        <p>
          <ul>
            <li>查找机场：ORD（IATA 三字代码）</li>
            <li>绘制路径：SFO-SIN（以连字符「-」分开）</li>
            <li>比较绕航：SFO-SIN, SFO-ICN-SIN（以英文逗号「,」分开）。</li>
            <li>绘制航程：1000km@PEK（前为公里距离单位，后为 IATA 代码，用「@」分开）。</li>
          </ul>
        </p>
        <p>可以使用回车或半角逗号隔开查询。</p>

        <b-form-textarea id="textarea" v-model="question_modal.query" placeholder="" rows="3" max-rows="3">
        </b-form-textarea>
      </b-modal>
      <b-modal id="popup" size="xl" v-model="aboutShow" @ok="send_request">
        <template v-slot:modal-title>
          <h1>关于大圆绘图器</h1>
        </template>
        <p>
          <a href="http://www.gcmap.com/">Karl L. Swartz 创作的 Great Circle Mapper</a> 的中文版实现。
        </p>
        <p>使用了以下开源软件</p>
        <p>
          <ul>
            <li>vue</li>
            <li>popper.js</li>
            <li>bootstrap-vue</li>
            <li>axios</li>
            <li>moment</li>
            <li>moment-timezone</li>
            <li>leaflet</li>
          </ul>
        </p>
        <p>项目开源在 <a href="https://github.com/DaZui/greatcirclemap">https://github.com/DaZui/greatcirclemap</a>，网页是 <a
            href="https://gcp.hanming.li/">https://gcp.hanming.li/</a>。</p>
        <p>请通过微信 13022055270 或者邮件 jason@hanming.li 联系我。</p>
      </b-modal>

      <b-card-group columns style="column-count:1">
        <b-card header-tag="header" no-body>
          <template v-slot:header>
            <h6 class="mb-0">地图（<a href="#" onclick="toggleFullScreen('#map')">全屏显示</a>）</h6>     
          </template>
          <div id="map" style="height: 500px;"></div>
        </b-card>
        <b-card header="航线" no-body v-if="airroutes.length > 0">
          <b-list-group flush>
            <b-list-group-item v-for="x in airroutes">
              <p v-for="y in x.path">
                从 {{y.起}}<br>
                到 {{y.终}}<br>
                长 {{y.距离.toFixed(0)}} 公里<br>
                初始航向角 {{y.航向角.d.toFixed(0)}}°
              </p>
              <p v-if="x.direct_path">
                中转总距离为 {{x.total_distance.toFixed(0)}} 公里<br>
                直飞距离为 {{x.direct_path.距离.toFixed(0)}} 公里<br>
                绕航率为 {{x.divert.toFixed(2)}}%
              </p>
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-card-group>
    </b-container>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.4.0/dist/bootstrap-vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment-with-locales.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.28/builds/moment-timezone-with-data-2012-2022.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.min.js"></script>
  <script src="static/leaflet_tools/leaflet.ChineseTmsProviders.1.js"></script>
  <script src="static/geodesic.js"></script>
  <script src="static/airport.js"></script>
  <script src="static/geodesic_leaflet.js"></script>
  <script src="static/schedule.js"></script>
</body>

</html>
