<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>大圆绘图器</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/leaflet@latest/dist/leaflet.min.css"
    />
    <link rel="stylesheet" href="/static/site.css" />
  </head>

  <body>
    <div id="map"></div>
    <div id="vueapp">
      <b-navbar type="dark" variant="faded">
        <b-navbar-nav class="ml-auto">
          <b-input-group>
            <b-form-tags
              v-model="raw_query"
              separator=" ,;"
              placeholder="以分号、空格或逗号分隔。"
              remove-on-delete
              :tag-validator="validator"
            >
            </b-form-tags>
            <b-input-group-append>
              <b-button class="btn-success" @click="send_request()">
                搜索
              </b-button>

              <b-button v-b-modal.about>帮助</b-button>
              <b-button v-b-modal.settings>设置</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-navbar-nav>
      </b-navbar>
      <b-modal
        id="airport"
        size="xl"
        v-model="airport_modal.show"
        v-if="airport_modal.airport"
      >
        <template v-slot:modal-title>
          <h3>
            {{airport_modal.airport}}
          </h3>
        </template>
        <b-list-group flush>
          <b-list-group-item>
            {{airport_modal.airport.名称}}（{{airport_modal.airport.IATA}},
            {{airport_modal.airport.ICAO}}）
          </b-list-group-item>
          <b-list-group-item>
            国家/地区和城市：{{airport_modal.airport.国家}}
            {{airport_modal.airport.城市}}
          </b-list-group-item>
          <b-list-group-item>
            经纬度：{{airport_modal.airport.文字坐标}}
          </b-list-group-item>
          <b-list-group-item>
            时区：{{airport_modal.airport.时区}}
            (UTC{{airport_modal.airport.时差}})
          </b-list-group-item>
        </b-list-group>
        <b-list-group flush>
          <b-list-group-item v-for="x in query.routes">
            <p v-for="y in x.path">
              从 {{y.起}} 到 {{y.终}}<br />
              长 {{y.距离.toFixed(0)}} 公里，初始航向角
              {{y.航向角.d.toFixed(0)}}°
            </p>
            <p v-if="x.direct_path">
              中转总距离为 {{x.total_distance.toFixed(0)}} 公里，直飞距离为
              {{x.direct_path.距离.toFixed(0)}} 公里，绕航率为
              {{x.divert.toFixed(2)}}%。
            </p>
          </b-list-group-item>
        </b-list-group>
      </b-modal>
      <b-modal id="settings" size="xl" hide-footer>
        <template v-slot:modal-title>
          <h3>地图设置</h3>
        </template>
        <div class="form-row">
          <div class="col-lg">
            <label>地图供应商<br />Provider</label>
            <select
              class="form-control"
              name="p"
              v-model="map.provider"
              placeholder="地图供应商"
            >
              <option value="GaoDe" selected>高德 Autonavi (GaoDe)</option>
              <option value="Google">谷歌 Google</option>
            </select>
          </div>
          <div class="col-lg">
            <label>地图模式<br />Mode</label>
            <select class="form-control" name="m" v-model="map.mode">
              <option value="Map" selected>街道地图 Street Map</option>
              <option value="Satellite">卫星图 Satellite </option>
              <option value="Hybrid" v-show="map.provider==='Google'">
                带街道的卫星图 Satellite with Streets
              </option>
              <option value="Terrain" v-show="map.provider==='Google'">
                地形图 Terrain
              </option>
            </select>
          </div>
          <div class="col-lg">
            <label>中央经线<br />Center Longitude</label>
            <b-form-input
              v-model="map_center"
              type="number"
              min="-180"
              max="179"
            ></b-form-input>
          </div>
        </div>
      </b-modal>
      <b-modal id="about" size="xl" hide-footer>
        <template v-slot:modal-title>
          <h3>关于大圆绘图器</h3>
        </template>
        <table class="table">
          <thead>
            <th>用法</th>
            <th>例子</th>
          </thead>
          <tbody>
            <tr>
              <td>查找机场</td>
              <td>ORD</td>
            </tr>
            <tr>
              <td>绘制航线</td>
              <td>SFO-ICN-SIN</td>
            </tr>
            <tr>
              <td>绘制航程</td>
              <td>1000km@PEK</td>
            </tr>
          </tbody>
        </table>
        <p>可以用半角逗号隔开查询。</p>
        <p>
          使用了以下开源软件：vue.js、bootstrap-vue、axios、moment、moment-timezone。
          项目开源在
          <a href="https://github.com/DaZui/greatcirclemap"
            >https://github.com/DaZui/greatcirclemap </a
          >，网页是
          <a href="https://gcmap.hanming.li/">https://gcmap.hanming.li/</a>。
          请通过微信 13022055270 或者邮件 jason@hanming.li 联系我。
        </p>
      </b-modal>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <script src="static/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@latest/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@latest/min/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-timezone@latest/builds/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@latest/dist/leaflet.min.js"></script>
    <script src="static/leaflet_tools/leaflet.ChineseTmsProviders.1.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>
    <script src="static/geodesic.js"></script>
    <script src="static/airport.js"></script>
    <script src="static/geodesic_leaflet.js"></script>
    <script src="static/schedule.js"></script>
  </body>
</html>
